<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.dao.SysConfigMapper">
	<resultMap id="BaseResultMap" type="com.frog.model.SysConfig">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="key" jdbcType="VARCHAR" property="key"/>
		<result column="value" jdbcType="VARCHAR" property="value" />
		<result column="count" jdbcType="INTEGER" property="count" />
	</resultMap>
	<sql id="Base_Column_List">
		id,`key`,`value`,count,
	</sql>
	<select id="selectSysConfByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select *
		from sys_conf where `key` = #{key}
	</select>
	
	<update id="updateSysConf" parameterType="java.lang.Integer">
		update sys_conf set 
		count=#{count}
		where id=#{id}
	</update>
	
</mapper>