<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frog.dao.UserChipInfoMapper">
	<resultMap id="BaseResultMap" type="com.frog.model.UserChipInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_id" jdbcType="INTEGER" property="user_id"/>
		<result column="chip" jdbcType="INTEGER" property="chip" />
		<result column="message" jdbcType="VARCHAR" property="message" />
		<result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
		<result column="ano_user_id" jdbcType="INTEGER" property="ano_user_id"/>
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="status" jdbcType="INTEGER" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		id,user_id,chip,message,add_time,ano_user_id,type,status
	</sql>
	<select id="selectUserChipInfoByUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from user_chip_info where user_id=#{user_id,jdbcType=INTEGER} ORDER BY add_time DESC
	</select>
	<select id="selectCountByDate"  resultType="java.lang.Integer">
		select count(1) from user_chip_info where user_id=#{user_id} and add_time like #{add_time} and type=3
	</select>
	<select id="selectCountByDateOnePerson"  resultType="java.lang.Integer">
		select count(1) from user_chip_info where user_id=#{user_id} and add_time like #{add_time} and ano_user_id=#{ano_user_id} and type=3
	</select>
	<insert id="insertUserChipInfo" parameterType="com.frog.model.UserChip">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into user_chip_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				user_id,
			</if>
			<if test="ano_user_id != null">
				ano_user_id,
			</if>
			<if test="chip != null">
				chip,
			</if>
			<if test="message != null">
				message,
			</if>
			<if test="add_time != null">
				add_time,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="user_id != null">
				#{user_id,jdbcType=INTEGER},
			</if>
			<if test="ano_user_id != null">
				#{ano_user_id,jdbcType=INTEGER},
			</if>
			<if test="chip != null">
				#{chip,jdbcType=INTEGER},
			</if>
			<if test="message != null">
				#{message,jdbcType=VARCHAR},
			</if>
			<if test="add_time != null">
				#{add_time,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
</mapper>